body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body{
	margin: 10;
	padding: 10;
	background-image: url(flower.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 240vh;
}

header {
	background-color: #fff;
	box-shadow: 0px 0px 10px #c264ff;
}

nav {
	display: 0;
	justify-content: space-between;
	align-items: center;
	max-width: 10000px;
	margin: 0 auto;
	padding: 10px;
	background-color: #eacaff;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	
}

nav li {
	margin-right: 20px;
	
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: #ffc0cb;
}

.search-box{
	float: right;
	display:inline
	margin  10px 5px;
	
}
.tbox{ padding: 10px; width: 250px;}
.btn{
	width: 50px;
	background: #009688;
}

.banner {
	background-color: #ccc;
	background-repeat: no-repeat;
	text-align: center;
}

.columns {
	display: flex;
}
.columns-desktop {
display: flex;
justify-content: center;

}
.beauty {
	width: 350px;
	padding: 10px;
	margin: 10px;
	background-color: #fff;
	border: solid 1px #ccc;
}
/*.beauty img {
	width: 200%;
*/
.beauty .title{
	font-weight: b;
}
.beauty .columns{
	width: 100%;
}
.beauty .price{
	text-align: right;
}

.beauty .columns div{
	width: 50%;
}
.beauty button {
	background-color: #eacaff;
	color: #fff;
	padding: 10px;
	border: solid 1px #eacaff;
	border-radius: 3px;
	
}
/*
footer {
	background-color: #ffc0cb;
	padding: 20px;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  color: white;
  text-align: center;
  }
  
  .footer-content {
	max-width: 960px;
	margin: 0 auto;
  }
  
  .footer-content p {
	margin-bottom: 10px;
  }
  
  .footer-content ul {
	list-style: none;
	padding: 0;
  }
  
  .footer-content ul li {
	display: inline-block;
	margin-right: 10px;
  }
  
  .footer-content ul li a {
	color: #333;
	text-decoration: none;
  }