form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  body{
    background-image:url(https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png);
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .a[type="button"]{
    background-color: #eacaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #eacaff;
  }
  